
/* =========================
   LAYOUT
========================= */
.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  height: 60px;
  background: #1f2937;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  font-weight: 600;
}

.layout {
  flex: 1;
  display: flex;
}

.sidebar {
  width: 240px;
  background: #111827;
  padding-top: 20px;
}

.sidebar li {
  padding: 14px 20px;
  color: #cbd5e1;
  cursor: pointer;
  transition: 0.2s;
}

.sidebar li:hover {
  background: #1f2937;
  color: white;
}

.sidebar li.active {
  background: #4f46e5;
  color: white;
}

/* =========================
   CONTENT
========================= */
#content {
  flex: 1;
  padding: 30px;
  overflow-y: auto;
}

/* =========================
   PAGE CONTAINER (REAL)
========================= */

.page {
  padding: 24px 32px;
  max-width: 1200px;
}

/* header padrão */
.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.page-header h1 {
  font-size: 22px;
  font-weight: 600;
}

.page-header p {
  font-size: 13px;
  color: #6b7280;
}


